.lista-banco{
    margin: 0;
    list-style-type: none;
}

.tabelas{
    border: 1px;
    border-color: black;
    width: 100px;
}

.links{
    text-decoration:none ;
    color: black;
}
.lista-bairro,
.lista-cidade,
.lista-endereco,
.lista-grupo,
.lista-mensagens,
.lista-postagens,
.lista-presidente,
.lista-usuario
{
  background-color: #fff;
  padding: 10px;
  margin-bottom: 7px;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  margin-top: 7px;
}

