body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: none;
}

.geral-tela-update{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0; /* Remova a margem padrão */
  }
  .listagem {
    font-size: x-large;
    list-style: georgian inside none;
    margin: 0;
    display: flex;
    align-items: center; 
    
  }
  
  .listagem::before {
    content: ''; /* Remova o marcador padrão */
    margin-right: 5px;
    width: 20px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 20px;
    background-image: url('/src/images/location.png'); /* Caminho para a imagem */
    background-size: cover; /* Ajuste conforme necessário */
    display: inline-block;
  }

  .listagem-presidente {
    font-size: x-large;
    list-style: georgian inside none;
    margin: 0;
    display: flex;
    align-items: center; 
  }
  
  .listagem-presidente::before {
    content: ''; /* Remova o marcador padrão */
    margin-right: 5px;
    width: 20px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 20px;
    background-image: url('/src/images/user-avatar.png'); /* Caminho para a imagem */
    background-size: cover; /* Ajuste conforme necessário */
    display: inline-block;
  }

  .botao-update {
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #5967b6;
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
  }
  
  .input-update {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 220px; 
  }

