body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.main-heading {
  color: #333;
}

.client-list-container {
  margin: 0 auto;
  width: 81%;
  gap: 10px
}

.client-list-container_head{
  display: inline-block;
  width: 280px;
  margin-right: 630px;
}

.search-input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}

.clear-button{
  background-color: #f44336; 
  padding: 6px;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  color: white;
  font-size: 13px;

}

.link-delete {
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 0;
  
}

.link-cadastro {
  padding: 10px;
  margin-left: 19px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #5967b6; 
  color: white;
  text-decoration: none;
  font-size: 18px;

}

.client-list {
  list-style-type: none;
}


.nome {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: inline-block;
  width: 78%;
}

.link-update,
.link-delete {
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 15px;
  margin: 0;
}

.link-update {
  background-color: #5967b6; 
  color: white;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px; 
 
}

.link-delete {
  background-color: #f44336; 
  color: rgb(252, 249, 249);
  margin-left: 5px; 
}

.paragrafo{
  display: inline-block;
  padding: 0;
  margin: 0;
}

.span-nenhuma{
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}