.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
    background-color: #f0f0f0;
  }
  
  .not-found {
    text-align: center;
    color: #333;
  }
  
.notnot {
    font-size: 8em;
    margin: 0;
  }
  
.h2-not {
    font-size: 2em;
    margin: 0;
    color: #555;
  }
  